StackExchange Client/web/WEB-INF/wsdl/localhost_8080/StackExchange_WS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://question.model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://question.model/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://question.model/" schemaLocation="http://localhost:8080/StackExchange_WS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getQuestionByID">
<part name="parameters" element="tns:getQuestionByID"/>
</message>
<message name="getQuestionByIDResponse">
<part name="parameters" element="tns:getQuestionByIDResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getAllQuestions">
<part name="parameters" element="tns:getAllQuestions"/>
</message>
<message name="getAllQuestionsResponse">
<part name="parameters" element="tns:getAllQuestionsResponse"/>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"/>
</message>
<message name="addQuestionResponse">
<part name="parameters" element="tns:addQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"/>
</message>
<portType name="QuestionWS">
<operation name="getQuestionByID">
<input wsam:Action="http://question.model/QuestionWS/getQuestionByIDRequest" message="tns:getQuestionByID"/>
<output wsam:Action="http://question.model/QuestionWS/getQuestionByIDResponse" message="tns:getQuestionByIDResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://question.model/QuestionWS/getQuestionByID/Fault/SQLException"/>
</operation>
<operation name="getAllQuestions">
<input wsam:Action="http://question.model/QuestionWS/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://question.model/QuestionWS/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://question.model/QuestionWS/getAllQuestions/Fault/SQLException"/>
</operation>
<operation name="addQuestion">
<input wsam:Action="http://question.model/QuestionWS/addQuestionRequest" message="tns:addQuestion"/>
<output wsam:Action="http://question.model/QuestionWS/addQuestionResponse" message="tns:addQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://question.model/QuestionWS/addQuestion/Fault/SQLException"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://question.model/QuestionWS/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://question.model/QuestionWS/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://question.model/QuestionWS/deleteQuestion/Fault/SQLException"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://question.model/QuestionWS/updateQuestionRequest" message="tns:updateQuestion"/>
<output wsam:Action="http://question.model/QuestionWS/updateQuestionResponse" message="tns:updateQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://question.model/QuestionWS/updateQuestion/Fault/SQLException"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getQuestionByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8080/StackExchange_WS/QuestionWS"/>
</port>
</service>
</definitions>