SimpleStackExchange_Client/src/conf/xml-resources/web-service-references/SimpleStackExchange_WS/wsdl/localhost_8081/SimpleStackExchange_WebService/SimpleStackExchange_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="SimpleStackExchange_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8081/SimpleStackExchange_WebService/SimpleStackExchange_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="listQuestion">
<part name="parameters" element="tns:listQuestion"/>
</message>
<message name="listQuestionResponse">
<part name="parameters" element="tns:listQuestionResponse"/>
</message>
<message name="searchQuestion">
<part name="parameters" element="tns:searchQuestion"/>
</message>
<message name="searchQuestionResponse">
<part name="parameters" element="tns:searchQuestionResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"/>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"/>
</message>
<portType name="SimpleStackExchange_WS">
<operation name="listQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/listQuestionRequest" message="tns:listQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/listQuestionResponse" message="tns:listQuestionResponse"/>
</operation>
<operation name="searchQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/searchQuestionRequest" message="tns:searchQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/searchQuestionResponse" message="tns:searchQuestionResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
<operation name="getQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getQuestionResponse" message="tns:getQuestionResponse"/>
</operation>
<operation name="getAnswers">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getAnswersRequest" message="tns:getAnswers"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getAnswersResponse" message="tns:getAnswersResponse"/>
</operation>
</portType>
<binding name="SimpleStackExchange_WSPortBinding" type="tns:SimpleStackExchange_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SimpleStackExchange_WS">
<port name="SimpleStackExchange_WSPort" binding="tns:SimpleStackExchange_WSPortBinding">
<soap:address location="http://localhost:8081/SimpleStackExchange_WebService/SimpleStackExchange_WS"/>
</port>
</service>
</definitions>