StackExchange Client/src/conf/xml-resources/web-service-references/QuestionWS/wsdl/localhost_8082/StackExchange_WS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://question.model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://question.model/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://question.model/" schemaLocation="http://localhost:8082/StackExchange_WS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"/>
</message>
<message name="getAllQuestions">
<part name="parameters" element="tns:getAllQuestions"/>
</message>
<message name="getAllQuestionsResponse">
<part name="parameters" element="tns:getAllQuestionsResponse"/>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<portType name="QuestionWS">
<operation name="addQuestion">
<input wsam:Action="http://question.model/QuestionWS/addQuestion" message="tns:addQuestion"/>
</operation>
<operation name="getAllQuestions">
<input wsam:Action="http://question.model/QuestionWS/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://question.model/QuestionWS/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
</operation>
<operation name="getQuestion">
<input wsam:Action="http://question.model/QuestionWS/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://question.model/QuestionWS/getQuestionResponse" message="tns:getQuestionResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8082/StackExchange_WS/QuestionWS"/>
</port>
</service>
</definitions>