StackExchange Client/src/conf/xml-resources/web-service-references/QuestionWS/wsdl/localhost_8081/StackExchange_WS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://QuestionModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://QuestionModel/" name="QuestionWS">
<wsp:Policy wsu:Id="QuestionWSPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://QuestionModel/" schemaLocation="http://localhost:8081/StackExchange_WS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllQuestion">
<part name="parameters" element="tns:getAllQuestion"/>
</message>
<message name="getAllQuestionResponse">
<part name="parameters" element="tns:getAllQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="insertQuestion">
<part name="parameters" element="tns:insertQuestion"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="getQuesstionById">
<part name="parameters" element="tns:getQuesstionById"/>
</message>
<message name="getQuesstionByIdResponse">
<part name="parameters" element="tns:getQuesstionByIdResponse"/>
</message>
<message name="getAnswerCount">
<part name="parameters" element="tns:getAnswerCount"/>
</message>
<message name="getAnswerCountResponse">
<part name="parameters" element="tns:getAnswerCountResponse"/>
</message>
<portType name="QuestionWS">
<operation name="getAllQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/getAllQuestionRequest" message="tns:getAllQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getAllQuestionResponse" message="tns:getAllQuestionResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/deleteQuestion" message="tns:deleteQuestion"/>
</operation>
<operation name="insertQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/insertQuestion" message="tns:insertQuestion"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/updateQuestion" message="tns:updateQuestion"/>
</operation>
<operation name="getQuesstionById">
<input wsam:Action="http://QuestionModel/QuestionWS/getQuesstionByIdRequest" message="tns:getQuesstionById"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getQuesstionByIdResponse" message="tns:getQuesstionByIdResponse"/>
</operation>
<operation name="getAnswerCount">
<input wsam:Action="http://QuestionModel/QuestionWS/getAnswerCountRequest" message="tns:getAnswerCount"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getAnswerCountResponse" message="tns:getAnswerCountResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<wsp:PolicyReference URI="#QuestionWSPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="insertQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getQuesstionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8081/StackExchange_WS/QuestionWS"/>
</port>
</service>
</definitions>