StackExchange Client/web/WEB-INF/wsdl/localhost_8088/StackExchange_WS/QuestionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://QuestionModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://QuestionModel/">

<xs:element name="GetAllQuestion" type="tns:GetAllQuestion"/>

<xs:element name="GetAllQuestionResponse" type="tns:GetAllQuestionResponse"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="Question" type="tns:question"/>

<xs:element name="createQuestion" type="tns:createQuestion"/>

<xs:element name="createQuestionResponse" type="tns:createQuestionResponse"/>

<xs:complexType name="GetAllQuestion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllQuestionResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_user" type="xs:int"/>
<xs:element name="title" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="timestamp" type="xs:string"/>
<xs:element name="votes" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQuestion">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>