StackExchange Client/web/WEB-INF/wsdl/localhost_8082/StackExchange_WebService/QuestionWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://question/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://question/" name="QuestionWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://question/" schemaLocation="http://localhost:8082/StackExchange_WebService/QuestionWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllQuestion">
<part name="parameters" element="tns:getAllQuestion"/>
</message>
<message name="getAllQuestionResponse">
<part name="parameters" element="tns:getAllQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="editQuestion">
<part name="parameters" element="tns:editQuestion"/>
</message>
<message name="editQuestionResponse">
<part name="parameters" element="tns:editQuestionResponse"/>
</message>
<message name="getQuestionById">
<part name="parameters" element="tns:getQuestionById"/>
</message>
<message name="getQuestionByIdResponse">
<part name="parameters" element="tns:getQuestionByIdResponse"/>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"/>
</message>
<message name="addQuestionResponse">
<part name="parameters" element="tns:addQuestionResponse"/>
</message>
<portType name="QuestionWebService">
<operation name="getAllQuestion">
<input wsam:Action="http://question/QuestionWebService/getAllQuestionRequest" message="tns:getAllQuestion"/>
<output wsam:Action="http://question/QuestionWebService/getAllQuestionResponse" message="tns:getAllQuestionResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://question/QuestionWebService/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://question/QuestionWebService/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="editQuestion">
<input wsam:Action="http://question/QuestionWebService/editQuestionRequest" message="tns:editQuestion"/>
<output wsam:Action="http://question/QuestionWebService/editQuestionResponse" message="tns:editQuestionResponse"/>
</operation>
<operation name="getQuestionById">
<input wsam:Action="http://question/QuestionWebService/getQuestionByIdRequest" message="tns:getQuestionById"/>
<output wsam:Action="http://question/QuestionWebService/getQuestionByIdResponse" message="tns:getQuestionByIdResponse"/>
</operation>
<operation name="addQuestion">
<input wsam:Action="http://question/QuestionWebService/addQuestionRequest" message="tns:addQuestion"/>
<output wsam:Action="http://question/QuestionWebService/addQuestionResponse" message="tns:addQuestionResponse"/>
</operation>
</portType>
<binding name="QuestionWebServicePortBinding" type="tns:QuestionWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWebService">
<port name="QuestionWebServicePort" binding="tns:QuestionWebServicePortBinding">
<soap:address location="http://localhost:8082/StackExchange_WebService/QuestionWebService"/>
</port>
</service>
</definitions>