StackExchange Client/web/WEB-INF/wsdl/localhost_8081/StackExchange_WebService/AnswerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://answer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://answer/" name="AnswerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://answer/" schemaLocation="http://localhost:8081/StackExchange_WebService/AnswerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="decrVote">
<part name="parameters" element="tns:decrVote"/>
</message>
<message name="decrVoteResponse">
<part name="parameters" element="tns:decrVoteResponse"/>
</message>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"/>
</message>
<message name="addAnswerResponse">
<part name="parameters" element="tns:addAnswerResponse"/>
</message>
<message name="incrVote">
<part name="parameters" element="tns:incrVote"/>
</message>
<message name="incrVoteResponse">
<part name="parameters" element="tns:incrVoteResponse"/>
</message>
<message name="getAnswerByQid">
<part name="parameters" element="tns:getAnswerByQid"/>
</message>
<message name="getAnswerByQidResponse">
<part name="parameters" element="tns:getAnswerByQidResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="getQuestionById">
<part name="parameters" element="tns:getQuestionById"/>
</message>
<message name="getQuestionByIdResponse">
<part name="parameters" element="tns:getQuestionByIdResponse"/>
</message>
<message name="getCountAnswerByQid">
<part name="parameters" element="tns:getCountAnswerByQid"/>
</message>
<message name="getCountAnswerByQidResponse">
<part name="parameters" element="tns:getCountAnswerByQidResponse"/>
</message>
<portType name="AnswerWebService">
<operation name="decrVote">
<input wsam:Action="http://answer/AnswerWebService/decrVoteRequest" message="tns:decrVote"/>
<output wsam:Action="http://answer/AnswerWebService/decrVoteResponse" message="tns:decrVoteResponse"/>
</operation>
<operation name="addAnswer">
<input wsam:Action="http://answer/AnswerWebService/addAnswerRequest" message="tns:addAnswer"/>
<output wsam:Action="http://answer/AnswerWebService/addAnswerResponse" message="tns:addAnswerResponse"/>
</operation>
<operation name="incrVote">
<input wsam:Action="http://answer/AnswerWebService/incrVoteRequest" message="tns:incrVote"/>
<output wsam:Action="http://answer/AnswerWebService/incrVoteResponse" message="tns:incrVoteResponse"/>
</operation>
<operation name="getAnswerByQid">
<input wsam:Action="http://answer/AnswerWebService/getAnswerByQidRequest" message="tns:getAnswerByQid"/>
<output wsam:Action="http://answer/AnswerWebService/getAnswerByQidResponse" message="tns:getAnswerByQidResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://answer/AnswerWebService/getAnswerByQid/Fault/ClassNotFoundException"/>
</operation>
<operation name="getQuestionById">
<input wsam:Action="http://answer/AnswerWebService/getQuestionByIdRequest" message="tns:getQuestionById"/>
<output wsam:Action="http://answer/AnswerWebService/getQuestionByIdResponse" message="tns:getQuestionByIdResponse"/>
</operation>
<operation name="getCountAnswerByQid">
<input wsam:Action="http://answer/AnswerWebService/getCountAnswerByQidRequest" message="tns:getCountAnswerByQid"/>
<output wsam:Action="http://answer/AnswerWebService/getCountAnswerByQidResponse" message="tns:getCountAnswerByQidResponse"/>
</operation>
</portType>
<binding name="AnswerWebServicePortBinding" type="tns:AnswerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="decrVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="incrVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerByQid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getQuestionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountAnswerByQid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWebService">
<port name="AnswerWebServicePort" binding="tns:AnswerWebServicePortBinding">
<soap:address location="http://localhost:8081/StackExchange_WebService/AnswerWebService"/>
</port>
</service>
</definitions>