StackExchange Client/web/WEB-INF/wsdl/localhost_8081/StackExchange_WebService/AnswerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://answer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://answer/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException"/>

<xs:element name="addAnswer" type="tns:addAnswer"/>

<xs:element name="addAnswerResponse" type="tns:addAnswerResponse"/>

<xs:element name="decrVote" type="tns:decrVote"/>

<xs:element name="decrVoteResponse" type="tns:decrVoteResponse"/>

<xs:element name="getAnswerByQid" type="tns:getAnswerByQid"/>

<xs:element name="getAnswerByQidResponse" type="tns:getAnswerByQidResponse"/>

<xs:element name="getCountAnswerByQid" type="tns:getCountAnswerByQid"/>

<xs:element name="getCountAnswerByQidResponse" type="tns:getCountAnswerByQidResponse"/>

<xs:element name="getQuestionById" type="tns:getQuestionById"/>

<xs:element name="getQuestionByIdResponse" type="tns:getQuestionByIdResponse"/>

<xs:element name="incrVote" type="tns:incrVote"/>

<xs:element name="incrVoteResponse" type="tns:incrVoteResponse"/>

<xs:complexType name="incrVote">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="incrVoteResponse">
<xs:sequence>
<xs:element name="String" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQid">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQidResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="answer_id" type="xs:int"/>
<xs:element name="answerer_name" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="vote" type="xs:int"/>
<xs:element name="question_id" type="xs:int"/>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClassNotFoundException">
<xs:sequence>
<xs:element name="exception" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getQuestionById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionByIdResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAnswer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAnswerResponse">
<xs:sequence>
<xs:element name="String" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decrVote">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decrVoteResponse">
<xs:sequence>
<xs:element name="String" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountAnswerByQid">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountAnswerByQidResponse">
<xs:sequence>
<xs:element name="int" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>