StackExchange Client/web/WEB-INF/wsdl/localhost_8081/StackExchange_WebService/UserWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://user/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://user/">

<xs:element name="User" type="tns:user"/>

<xs:element name="addUser" type="tns:addUser"/>

<xs:element name="addUserResponse" type="tns:addUserResponse"/>

<xs:element name="getAllUser" type="tns:getAllUser"/>

<xs:element name="getAllUserResponse" type="tns:getAllUserResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="isPasswordRight" type="tns:isPasswordRight"/>

<xs:element name="isPasswordRightResponse" type="tns:isPasswordRightResponse"/>

<xs:element name="isUserExist" type="tns:isUserExist"/>

<xs:element name="isUserExistResponse" type="tns:isUserExistResponse"/>

<xs:complexType name="isUserExist">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isUserExistResponse">
<xs:sequence>
<xs:element name="boolean" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isPasswordRight">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isPasswordRightResponse">
<xs:sequence>
<xs:element name="boolean" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllUserResponse">
<xs:sequence>
<xs:element name="User" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="user_id" type="xs:int"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="User" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence>
<xs:element name="String" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>