StackExchange Client/web/WEB-INF/wsdl/localhost_8081/StackExchange_WebService/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://user/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://user/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://user/" schemaLocation="http://localhost:8081/StackExchange_WebService/UserWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="isUserExist">
<part name="parameters" element="tns:isUserExist"/>
</message>
<message name="isUserExistResponse">
<part name="parameters" element="tns:isUserExistResponse"/>
</message>
<message name="getAllUser">
<part name="parameters" element="tns:getAllUser"/>
</message>
<message name="getAllUserResponse">
<part name="parameters" element="tns:getAllUserResponse"/>
</message>
<message name="isPasswordRight">
<part name="parameters" element="tns:isPasswordRight"/>
</message>
<message name="isPasswordRightResponse">
<part name="parameters" element="tns:isPasswordRightResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<portType name="UserWebService">
<operation name="isUserExist">
<input wsam:Action="http://user/UserWebService/isUserExistRequest" message="tns:isUserExist"/>
<output wsam:Action="http://user/UserWebService/isUserExistResponse" message="tns:isUserExistResponse"/>
</operation>
<operation name="getAllUser">
<input wsam:Action="http://user/UserWebService/getAllUserRequest" message="tns:getAllUser"/>
<output wsam:Action="http://user/UserWebService/getAllUserResponse" message="tns:getAllUserResponse"/>
</operation>
<operation name="isPasswordRight">
<input wsam:Action="http://user/UserWebService/isPasswordRightRequest" message="tns:isPasswordRight"/>
<output wsam:Action="http://user/UserWebService/isPasswordRightResponse" message="tns:isPasswordRightResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://user/UserWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://user/UserWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://user/UserWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://user/UserWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isUserExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isPasswordRight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://localhost:8081/StackExchange_WebService/UserWebService"/>
</port>
</service>
</definitions>