Clients/web/WEB-INF/wsdl/localhost_9998/WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="StackWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:9998/WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="tesplus">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="tesplusResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="countAnswer">
<part name="arg0" type="xsd:int"/>
</message>
<message name="countAnswerResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="getHelloWorldAsString">
<part name="arg0" type="xsd:string"/>
</message>
<message name="getHelloWorldAsStringResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getAllQuestions"/>
<message name="getAllQuestionsResponse">
<part name="return" type="tns:arrayList"/>
</message>
<portType name="StackWS">
<operation name="tesplus" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebService/StackWS/tesplusRequest" message="tns:tesplus"/>
<output wsam:Action="http://WebService/StackWS/tesplusResponse" message="tns:tesplusResponse"/>
</operation>
<operation name="countAnswer">
<input wsam:Action="http://WebService/StackWS/countAnswerRequest" message="tns:countAnswer"/>
<output wsam:Action="http://WebService/StackWS/countAnswerResponse" message="tns:countAnswerResponse"/>
</operation>
<operation name="getHelloWorldAsString">
<input wsam:Action="http://WebService/StackWS/getHelloWorldAsStringRequest" message="tns:getHelloWorldAsString"/>
<output wsam:Action="http://WebService/StackWS/getHelloWorldAsStringResponse" message="tns:getHelloWorldAsStringResponse"/>
</operation>
<operation name="getAllQuestions">
<input wsam:Action="http://WebService/StackWS/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://WebService/StackWS/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
</operation>
</portType>
<binding name="StackWSImplPortBinding" type="tns:StackWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="tesplus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebService/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebService/"/>
</output>
</operation>
<operation name="countAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebService/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebService/"/>
</output>
</operation>
<operation name="getHelloWorldAsString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebService/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebService/"/>
</output>
</operation>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebService/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebService/"/>
</output>
</operation>
</binding>
<service name="StackWSImplService">
<port name="StackWSImplPort" binding="tns:StackWSImplPortBinding">
<soap:address location="http://localhost:9998/WebService"/>
</port>
</service>
</definitions>